<h1>Book List</h1>
<input type="button" value="Add" class="btn btn-default" (click)="add()" />
<table *ngIf="tableMode; else create" class="table table-striped">
  <thead>
    <tr>
      <td>Name</td>
      <td>Author</td>
      <td>Publishing Year</td>
      <td></td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let b of books">
      <ng-template [ngIf]="book?.id != b.id" [ngIfElse]="edit">
        <td>{{b?.name}}</td>
        <td>{{b?.author}}</td>
        <td>{{b?.yearOfPublishing}}</td>
        <td>
          <button class="btn btn-sm btn-primary" (click)="editBook(b)">Edit</button>
          <button class="btn btn-sm btn-danger" (click)="delete(b)">Delete</button>
        </td>
      </ng-template>
    </tr>
  </tbody>
</table>

<!--шаблон для редактирования-->
<ng-template #edit>
  <td>
    <input type="text" [(ngModel)]="book.name" class="form-control" />
  </td>
  <td>
    <input type="text" [(ngModel)]="book.author" class="form-control" />
  </td>
  <td>
    <input type="text" [(ngModel)]="book.yearOfPublishing" class="form-control" />
  </td>
  <td>
    <input type="button" value="Save" (click)="save()" class="btn btn-sm btn-success" />
    <input type="button" value="Cancel" (click)="cancel()" class="btn btn-sm btn-warning" />
  </td>
</ng-template>

<!--шаблон для добавления-->
<ng-template #create>
  <div class="form-group">
    <label>Book</label>
    <input type="text" [(ngModel)]="book.name" class="form-control" />
  </div>
  <div class="form-group">
    <label>Author</label>
    <input type="text" [(ngModel)]="book.author" class="form-control" />
  </div>
  <div class="form-group">
    <label>Publishing Year</label>
    <input type="text" [(ngModel)]="book.yearOfPublishing" class="form-control" />
  </div>
  <div>
    <input type="button" value="Save" (click)="save()" class="btn btn-success" />
    <input type="button" value="Cancel" (click)="cancel()" class="btn btn-warning" />
  </div>
</ng-template>
